# Ignore everything
application/cache/*
application/config/*
application/core/*
application/hooks/*
application/helpers/*
application/language/*
application/libraries/*
application/logs/*
application/third_party/*
application/views/*
system/*
vendor/*
logs/*.log
.htaccess
/index.php
*/index.html

# But not these files...